.message-list {
    background-color: #282c34;
    height: calc(100vh - 38px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
}
